.score {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    text-align: left;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.btnStartContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hidden {
    display: none;
}

.questionContent {
    margin: auto;
    border: solid black;
    padding: 200px;
}

.qtn-title {
    font-size: 20px;
}